@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Alkalami', serif;
}
.title{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(41, 41, 110);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    width: 100vw;
    height: 100vh;
}
.todo{
    width: 450px;
    padding: 20px;
    box-shadow: 0 10px 40px rgb(145, 142, 142) ;
    border-radius: 10px;
}

.head{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
}
.textbox{
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(119, 120, 121);
    border-radius: 5px;
}
.add{
    background-color: rgb(178, 178, 230);
    font-size: 16px;
    font-weight: 800;
    color: beige;
    outline: none;
    border-width: 0;
    border-radius: 5px;
    cursor:default;
}

.active {
    background-color: rgb(55, 55, 105);
    cursor: pointer;
}

.task{
    width: 100%;
    margin-top: 20px;
}
.item{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 10px 40px gray; 
}
.btn{
    display: flex;
    gap: 10px;
    align-items: center;
    color: rgb(71, 71, 121);
    cursor: pointer;
}
.completed{
    text-decoration: line-through;
    color: darkgray;
}